{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<div>
    <div>
        <div>
            <h1>Plataforma Cinematográfica</h1>

            <h3>Bienvenido a nuestro Portal de Cine</h3>
            
            <div>
                <p>
                    Este espacio fue diseñado como un catálogo interactivo pensado para los amantes de las buenas historias 
                    en pantalla grande. Aquí podrás recorrer una cuidada selección de producciones que han marcado distintas 
                    etapas del cine, organizadas de forma intuitiva para que descubras tanto clásicos inolvidables como joyas 
                    contemporáneas.
                </p>

                <p>
                    A través de nuestra plataforma tendrás acceso a una clasificación por géneros cinematográficos, 
                    permitiéndote explorar en detalle las características de cada categoría, sus años de estreno, fichas 
                    informativas y portadas oficiales de cada título. Nuestro propósito es ofrecerte una navegación fluida, 
                    limpia y visualmente atractiva para que encuentres tu próxima película favorita en tan solo un par de clics.
                </p>
            </div>

        </div>
    </div>
</div>
{% endblock %}