<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Películas{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home:home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'genero:terror' %}">Terror</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'genero:crimen' %}">Crimen</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'genero:comedia' %}">Comedia</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <p>&copy; Creado por: Marian Paraguan y Jessica Pacheco - 2026</p>
    </footer>
</body>
</html>